/**
    * @name NameBadges
    * @version 1.2.1
    * @description Some nice custom badges for next to usernames.
    * @author LuckFire#4800
    *
    * @website https://github.com/Discord-Theme-Addons
    * @source https://github.com/Discord-Theme-Addons/discord-name-badges/tree/main/src
**/

@mixin badge($userID, $badgeLink) {
    [user_by_bdfdb="#{$userID}"] {
        &.wrapper-2a6GCs .contents-2mQqc9 h2 .username-1A8OIy, // Messages
        &.userPopout-3XzG_A .header-2BwW8b .username-2b1r56, // User Popout Modals
        &.root-SR8cQa header .username-3gJmXY, // Profile Modals
        &.member-3-YXUe .roleColor-rz2vM0, // Memberlist
        &.channel-2QD9_O .name-uJV0GL div { // DMs List
            &::before {
                content: "";
                background: url($badgeLink) center/100% no-repeat;
            }
        }
    }
}

#app-mount [user_by_bdfdb] {
    &.wrapper-2a6GCs .contents-2mQqc9 h2 .username-1A8OIy, // Messages
    &.userPopout-3XzG_A .header-2BwW8b .username-2b1r56, // User Popout Modals
    &.root-SR8cQa header .username-3gJmXY { // Profile Modals
        &::before {
            padding: 0 10px 0 10px;
            margin-right: 4px;
        }
    }

    &.channel-2QD9_O .name-uJV0GL div, // DMs List
    &.member-3-YXUe .roleColor-rz2vM0 { // Memberlist
        &::before {
            padding: 0 8px 0 8px;
            margin-right: 4px;
        }
    }
}

@import "../users";
