/**
    * @name NameBadges
    * @version 1.2.9
    * @description Some nice custom badges for next to usernames.
    * @author LuckFire#4800
    *
    * @website https://github.com/Discord-Theme-Addons
    * @source https://github.com/Discord-Theme-Addons/discord-name-badges/tree/main/src
**/

@mixin badge($userID, $badgeLink) {
    [user_by_bdfdb="#{$userID}"] {
        .header-23xsNx .username-1A8OIy, // Messages
        &.userPopout-3XzG_A .header-2BwW8b .headerText-2sdzFM .headerTag-2pZJzA .username-2b1r56, // User Popout Modals
        .nameTag-m8r81H .username-3gJmXY, // Profile Modals
        .name-uJV0GL .roleColor-rz2vM0, // Memberlist
        .name-uJV0GL .overflow-WK9Ogt { // DMs List
            &::before {
                content: " ";
                background: url($badgeLink) center/90% no-repeat;
            }
        }
    }
}

#app-mount {
    .header-23xsNx .username-1A8OIy, // Messages
    .userPopout-3XzG_A .header-2BwW8b .headerText-2sdzFM .headerTag-2pZJzA .username-2b1r56, // User Popout Modals
    .nameTag-m8r81H .username-3gJmXY { // Profile Modals
        &::before {
            padding: 0 10px 0 10px;
            margin-right: 4px;
        }
    }

    .name-uJV0GL {
        .overflow-WK9Ogt, // DMS list
        .roleColor-rz2vM0 { // Memberslist
            &::before {
                padding: 0 8px 0 8px;
                margin-right: 4px;
            }
        }
    }
}

@import "../users";
