#app-mount {
    .wrapper-2a6GCs h2 .username-1A8OIy, // Messages
    .listRow-hutiT_ .avatar-3W3CeO + div .username-2b1r56, // Friends List
    .nameTag-m8r81H:not(.listName-3w10cx) .username-2b1r56 { // User Popout + UserModals
        &::before {
            padding: 0 10px 0 10px;
            margin-right: 4px;
        }
    }

    .channel-2QD9_O .overflow-WK9Ogt, // DMs List
    .member-3-YXUe .roleColor-rz2vM0 { // Memberlist
        &::before {
            padding: 0 8px 0 8px;
            margin-right: 4px;
        }
    }

    .wrapper-3t9DeA + h1 { // Beginning of DMs
        &::before {
            padding: 0 15px 0 15px;
            margin-right: 3px;
            margin-left: 1px
        }
    }

    .listRow-hutiT_ .wrapper-3t9DeA + div .username-2b1r56 { // Mututal Friends
        &::before {
            padding: 0 8px 0 8px;
            margin-right: 4px;
        }
    }
}