@mixin badge($userID, $badgeLink) {
    [data-author-id="#{$userID}"].wrapper-2a6GCs .contents-2mQqc9 h2 .username-1A8OIy, // Messages
    [data-user-id="#{$userID}"].wrapper-3t9DeA + div .username-2b1r56, // Profile Modals
    [data-user-id="#{$userID}"].wrapper-3t9DeA + div .discordTag-2_tqUA .username-2b1r56, // Friends List
    [data-user-id="#{$userID}"].wrapper-3t9DeA + h1, // Beginning of DMs
    [data-user-id="#{$userID}"].wrapper-3t9DeA + div .username-2b1r56 { // Mututal Friends
        &::before {
            content: "";
            background: url($badgeLink) center/100% no-repeat;
        }
    }
}

#app-mount {
    [data-author-id].wrapper-2a6GCs .contents-2mQqc9 h2 .username-1A8OIy, // Messages
    [data-user-id].avatar-3EQepX + div .username-2b1r56, // Profile Modals
    [data-user-id].avatar-3W3CeO + div .discordTag-2_tqUA .username-2b1r56 { // Friends List
        &::before {
            padding: 0 10px 0 10px;
            margin-right: 5px;
        }
    }

    [data-user-id].wrapper-3t9DeA + h1 { // Beginning of DMs
        &::before {
            padding: 0 15px 0 15px;
            margin-right: 3px;
            margin-left: 1px
        }
    }

    [data-user-id].wrapper-3t9DeA + div .username-2b1r56 { // Mututal Friends
        &::before {
            padding: 0 8px 0 8px;
            margin-right: 4px;
        }
    }
}

@import "./users";
