@mixin badge($userID, $badgeLink) {
    [vz-user-id="#{$userID}"] {
        &.message-2qnXI6 .contents-2mQqc9 h2 .username-1A8OIy, // Messages
        &.userPopout-3XzG_A .header-2BwW8b .username-2b1r56, // User Popout Modals
        &.root-SR8cQa header .username-3gJmXY, // Profile Modals
        &.member-3-YXUe .roleColor-rz2vM0, // Memberlist
        &.channel-2QD9_O .name-uJV0GL div, // DMs List
        &.avatar-3W3CeO + div .discordTag-2_tqUA .username-2b1r56, // Friends List
        &.wrapper-3t9DeA + h1 { // Beginning of DMs
            &::before {
                content: "";
                background: url($badgeLink) center/100% no-repeat;
            }
        }
    }
}

#app-mount [vz-user-id] {
    &.message-2qnXI6 .contents-2mQqc9 h2 .username-1A8OIy, // Messages
    &.userPopout-3XzG_A .header-2BwW8b .username-2b1r56, // User Popout Modals
    &.root-SR8cQa header .username-3gJmXY, // Profile Modals
    &.avatar-3W3CeO + div .discordTag-2_tqUA .username-2b1r56 { // Friends List
        &::before {
            padding: 0 10px 0 10px;
            margin-right: 4px;
        }
    }

    &.channel-2QD9_O .name-uJV0GL div, // DMs List
    &.member-3-YXUe .roleColor-rz2vM0 { // Memberlist
        &::before {
            padding: 0 8px 0 8px;
            margin-right: 4px;
        }
    }

    &.wrapper-3t9DeA + h1 { // Beginning of DMs
        &::before {
            padding: 0 15px 0 15px;
            margin-right: 3px;
            margin-left: 1px
        }
    }
}

@import "./users";
