/**
    * @name Name Badges
    * @version 1.4.0
    * @description Some nice custom badges for next to usernames.
    * @author LuckFire#4800
    *
    * @website https://github.com/Discord-Theme-Addons
    * @source https://github.com/Discord-Theme-Addons/name-badges/tree/main/src
**/

@import url('https://discord-theme-addons.github.io/name-badges/src/betterdiscord/bd-compile.css');