/* LuckFire#4800 */
[data-author-id="399416615742996480"] > .contents-2mQqc9 > .header-23xsNx > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="399416615742996480"] + .headerInfo-30uryT > .nameTag-2IFDfL > .discriminator-xUhQkU::after {
   content: " ";
   background: url(https://cdn.discordapp.com/emojis/524587767024582658.png?v=1) center/90% no-repeat;
   padding: 0 10px 0 10px;
   margin-left: 2px;
}

/* botato#6883 */
[data-author-id="440990343899643943"] > .contents-2mQqc9 > .header-23xsNx > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="440990343899643943"] + .headerInfo-30uryT > .nameTag-2IFDfL > .discriminator-xUhQkU::after {
   content: " ";
   background: url(https://cdn.discordapp.com/attachments/755015869914152981/762392532268220466/EjF5ySqXgAEUtBm.jpg) center/90% no-repeat;
   padding: 0 10px 0 10px;
   margin-left: 2px;
}

/* snapperito#0001 */
[data-author-id="431883840483491850"] > .contents-2mQqc9 > .header-23xsNx > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="431883840483491850"] + .headerInfo-30uryT > .nameTag-2IFDfL > .discriminator-xUhQkU::after {
   content: " ";
   background: url(https://cdn.discordapp.com/attachments/755015869914152981/762399113643425842/iu.png) center/90% no-repeat;
   padding: 0 10px 0 10px;
   margin-left: 2px;
}
