/* LuckFire#4800 */
[data-author-id="399416615742996480"] > .contents-2mQqc9 > .header-23xsNx > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="399416615742996480"] + .headerInfo-30uryT > .nameTag-2IFDfL > .discriminator-xUhQkU::after {
   content: " ";
   background: url(https://cdn.discordapp.com/emojis/524587767024582658.png?v=1) center/90% no-repeat;
   padding: 0 10px 0 10px;
   margin-left: 2px;
}

/* botato#6883 */
[data-author-id="440990343899643943"] > .contents-2mQqc9 > .header-23xsNx > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="440990343899643943"] + .headerInfo-30uryT > .nameTag-2IFDfL > .discriminator-xUhQkU::after {
   content: " ";
   background: url(https://cdn.discordapp.com/attachments/755015869914152981/762392532268220466/EjF5ySqXgAEUtBm.jpg) center/90% no-repeat;
   padding: 0 10px 0 10px;
   margin-left: 2px;
}

/* snapperito#0001 */
[data-author-id="431883840483491850"] > .contents-2mQqc9 > .header-23xsNx > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="431883840483491850"] + .headerInfo-30uryT > .nameTag-2IFDfL > .discriminator-xUhQkU::after {
   content: " ";
   background: url(https://cdn.discordapp.com/attachments/755015869914152981/762399113643425842/iu.png) center/90% no-repeat;
   padding: 0 10px 0 10px;
   margin-left: 2px;
}

/* ð–Œð–†ð–‡ð–Š#7384 */
[data-author-id="492134292634337295"] > .contents-2mQqc9 > .header-23xsNx > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="492134292634337295"] + .headerInfo-30uryT > .nameTag-2IFDfL > .discriminator-xUhQkU::after {
   content: " ";
   background: url(https://cdn.discordapp.com/emojis/524587767024582658.png?v=1) center/90% no-repeat;
   padding: 0 10px 0 10px;
   margin-left: 2px;
}

/* Liam The Protogen#2501 */
[data-author-id="441384103946878987"] > .contents-2mQqc9 > .header-23xsNx > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="441384103946878987"] + .headerInfo-30uryT > .nameTag-2IFDfL > .discriminator-xUhQkU::after {
   content: " ";
   background: url(https://cdn.discordapp.com/emojis/678032580066410507.png) center/90% no-repeat;
   padding: 0 10px 0 10px;
   margin-left: 2px;
}

/* om#1111 */
[data-author-id="682735971392815124"] > .contents-2mQqc9 > .header-23xsNx > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="682735971392815124"] + .headerInfo-30uryT > .nameTag-2IFDfL > .discriminator-xUhQkU::after {
   content: " ";
   background: url(https://cdn.discordapp.com/emojis/762426123656495165.png?v=1) center/90% no-repeat;
   padding: 0 10px 0 10px;
   margin-left: 2px;
}

/* Hoofer#0001 */
[data-author-id="547951620235984906"] > .contents-2mQqc9 > .header-23xsNx > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="547951620235984906"] + .headerInfo-30uryT > .nameTag-2IFDfL > .discriminator-xUhQkU::after {
   content: " ";
   background: url(https://cdn.discordapp.com/emojis/761430444843073546.png) center/90% no-repeat;
   padding: 0 10px 0 10px;
   margin-left: 2px;
}

/* KoalaBeans#1246 */
[data-author-id="249521750465970177"] > .contents-2mQqc9 > .header-23xsNx > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="249521750465970177"] + .headerInfo-30uryT > .nameTag-2IFDfL > .discriminator-xUhQkU::after {
   content: " ";
   background: url(https://cdn.discordapp.com/emojis/762438597340430367.png) center/90% no-repeat;
   padding: 0 10px 0 10px;
   margin-left: 2px;
}

/* ezist#7571 */
[data-author-id="632082248954282014"] > .contents-2mQqc9 > .header-23xsNx > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="632082248954282014"] + .headerInfo-30uryT > .nameTag-2IFDfL > .discriminator-xUhQkU::after {
   content: " ";
   background: url(https://i.imgur.com/3k77hqg.png) center/90% no-repeat;
   padding: 0 10px 0 10px;
   margin-left: 2px;
}
