@import url("https://raw.githack.com/LuckFire/NameBadges/main/source/user_by_bdfdb.css"); /* Badge addons that use user_by_bdfdb (IF LIBRARY IS INSTALLED, ENTIRELY OPTIONAL) */

.username-1A8OIy::after,
.username-2b1r56::after,
usernameFont-aFalyR::after {
   padding: 0 10px 0 10px;
   margin-left: 2px;
}

/* LuckFire#4800 */
[src*="https://cdn.discordapp.com/avatars/399416615742996480"] + .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="399416615742996480"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after,
[style*="399416615742996480"] + .usernameFont-aFalyR::after {
   content: " ";
   background: url(https://cdn.discordapp.com/emojis/635936642372337674.png?v=1) center/90% no-repeat;
}

/* botato#6883 */
[src*="https://cdn.discordapp.com/avatars/440990343899643943"] + .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="440990343899643943"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after,
[style*="440990343899643943"] + .usernameFont-aFalyR::after {
   content: " ";
   background: url(https://i.imgur.com/n73BD5k.gif) center/90% no-repeat;
}

/* snapperito#0001 */
[src*="https://cdn.discordapp.com/avatars/431883840483491850"] + .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="431883840483491850"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after,
[style*="431883840483491850"] + .usernameFont-aFalyR::after {
   content: " ";
   background: url(https://cdn.discordapp.com/attachments/755015869914152981/762399113643425842/iu.png) center/90% no-repeat;
}

/* ð–Œð–†ð–‡ð–Š#7384 */
[src*="https://cdn.discordapp.com/avatars/492134292634337295"] + .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="492134292634337295"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after,
[style*="492134292634337295"] + .usernameFont-aFalyR::after {
   content: " ";
   background: url(https://cdn.discordapp.com/emojis/524587767024582658.png?v=1) center/90% no-repeat;
}

/* Liam The Protogen#2501 */
[src*="https://cdn.discordapp.com/avatars/441384103946878987"] + .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="441384103946878987"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after,
[style*="441384103946878987"] + .usernameFont-aFalyR::after{
   content: " ";
   background: url(https://cdn.discordapp.com/emojis/678032580066410507.png) center/90% no-repeat;
}

/* om#1111 */
[src*="https://cdn.discordapp.com/avatars/682735971392815124"] + .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="682735971392815124"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after,
[style*="682735971392815124"] + .usernameFont-aFalyR::after {
   content: " ";
   background: url(https://cdn.discordapp.com/emojis/762426123656495165.png?v=1) center/90% no-repeat;
}

/* Hoofer#0001 */
[src*="https://cdn.discordapp.com/avatars/547951620235984906"] + .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="547951620235984906"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after,
[style*="547951620235984906"] + .usernameFont-aFalyR::after {
   content: " ";
   background: url(https://cdn.discordapp.com/attachments/620711972312449034/762505641490120744/pump.gif) center/90% no-repeat;
}

/* KoalaBeans#1246 */
[src*="https://cdn.discordapp.com/avatars/249521750465970177"] + .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="249521750465970177"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after,
[style*="249521750465970177"] + .usernameFont-aFalyR::after {
   content: " ";
   background: url(https://cdn.discordapp.com/emojis/762438597340430367.png) center/90% no-repeat;
}

/* ezist#7571 */
[src*="https://cdn.discordapp.com/avatars/632082248954282014"] + .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="632082248954282014"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after,
[style*="632082248954282014"] + .usernameFont-aFalyR::after {
   content: " ";
   background: url(https://i.imgur.com/3k77hqg.png) center/90% no-repeat;
}

/* Akkoza#8767 */
[src*="https://cdn.discordapp.com/avatars/608851844244045835"] + .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="608851844244045835"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after,
[style*="608851844244045835"] + .usernameFont-aFalyR::after {
   content: " ";
   background: url(https://cdn.discordapp.com/attachments/738968109288914976/767095382400041020/uRrxAmOB_400x400.png) center/90% no-repeat;
}

/* Fuzzy#0004 */
[src*="https://cdn.discordapp.com/avatars/215689512058224640"] + .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="215689512058224640"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after,
[style*="215689512058224640"] + .usernameFont-aFalyR::after {
   content: " ";
   background: url(https://cdn.discordapp.com/attachments/738968109288914976/762451411152666624/shitterduxiforcolt.png) center/90% no-repeat;
}

/* Freeplay#5676 */
[src*="https://cdn.discordapp.com/avatars/158296466119458816"] + .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="158296466119458816"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after,
[style*="158296466119458816"] + .usernameFont-aFalyR::after {
   content: " ";
   background: url(https://i.imgur.com/Fdkm5zS.png) center/90% no-repeat;
}

/* Ryan.#0002 */
[src*="https://cdn.discordapp.com/avatars/180769501552443403"] + .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="180769501552443403"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after, 
[style*="180769501552443403"] + .usernameFont-aFalyR::after {
   content: " ";
   background: url(https://cdn.discordapp.com/attachments/620711972312449034/762505641490120744/pump.gif) center/90% no-repeat;
}

/* Ariana aka deznuts#2929 */
[src*="https://cdn.discordapp.com/avatars/424555688992309248"] + .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="424555688992309248"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after, 
[style*="424555688992309248"] + .usernameFont-aFalyR::after {
   content: " ";
   background: url(https://i.imgur.com/mq3YHYv.png) center/90% no-repeat;
}

/* Whippersnatch Pumpkinpatch#2008 */
[src*="https://cdn.discordapp.com/avatars/245592600793317377"] + .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="245592600793317377"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after, 
[style*="245592600793317377"] + .usernameFont-aFalyR::after {
   content: " ";
   background: url(https://cdn.discordapp.com/attachments/713729995595317279/762580310906634260/download.png) center/90% no-repeat;
}

/* ANGER BRO#2131 */
[src*="https://cdn.discordapp.com/avatars/417372538557956096"] + .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="417372538557956096"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after, 
[style*="417372538557956096"] + .usernameFont-aFalyR::after {
   content: " ";
   background: url(https://cdn.discordapp.com/attachments/418538118547898388/762638865575837766/2.0.png) center/90% no-repeat;
}

/* azumi#6464 */
[src*="https://cdn.discordapp.com/avatars/197899789252165632"] + .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="197899789252165632"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after,
[style*="197899789252165632"] + .usernameFont-aFalyR::after {
   content: " ";
   background: url(https://i.imgur.com/0hbRrJv.png) center/90% no-repeat;
}

/* DanKSpooKLy#1337 */
[src*="https://cdn.discordapp.com/avatars/348918040248713217"] + .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="348918040248713217"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after,
[style*="348918040248713217"] + .usernameFont-aFalyR::after {
   content: " ";
   background: url(https://i.imgur.com/xSObeUv.gif) center/90% no-repeat;
}

/* arceus#0413 */
[src*="https://cdn.discordapp.com/avatars/479451939243950091"] + .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="479451939243950091"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after,
[style*="479451939243950091"] + .usernameFont-aFalyR::after {
   content: " ";
   background: url(https://cdn.discordapp.com/attachments/720701686036824084/763137268843413514/sticker.png) center/90% no-repeat;
}

/* Klip#1337 */ 
[src*="https://cdn.discordapp.com/avatars/349312657658216450"] + .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="349312657658216450"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after,
[style*="349312657658216450"] + .usernameFont-aFalyR::after {
   content: " ";
   background: url(https://cdn.discordapp.com/emojis/745122924779929700.gif) center/90% no-repeat;
}

/* PlutonicPluto#9145 */
[src*="https://cdn.discordapp.com/avatars/758805621767929866"] + .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="758805621767929866"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after,
[style*="758805621767929866"] + .usernameFont-aFalyR::after {
   content: " ";
   background: url(https://cdn.discordapp.com/attachments/760722365293527060/765101459381157888/Cyan.png) center/90% no-repeat;
}

/* Taikutsunan#6781 */
[src*="https://cdn.discordapp.com/avatars/334469240394481667"] + .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="334469240394481667"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after,
[style*="334469240394481667"] + .usernameFont-aFalyR::after {
   content: " ";
   background: url(https://cdn.discordapp.com/attachments/691799184063594546/764995840145358899/unknown.png) center/90% no-repeat;
}

/* Panda^^#8612 */
[src*="https://cdn.discordapp.com/avatars/605186191746138132"] + .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="605186191746138132"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after,
[style*="605186191746138132"] + .usernameFont-aFalyR::after {
   content: " ";
   background: url(https://cdn.discordapp.com/emojis/638108014901198913.gif?v=1) center/90% no-repeat;
}

/* PoorPockets McNewHold#1984 */
[src*="https://cdn.discordapp.com/avatars/605186191746138132"] + .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="605186191746138132"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after,
[style*="605186191746138132"] + .usernameFont-aFalyR::after {
   content: " ";
   background: url(https://i.imgur.com/7ugPOvO.png) center/90% no-repeat;
}

/* Curvu#0254 */
[src*="https://cdn.discordapp.com/avatars/323104036066951168"] + .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="323104036066951168"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after,
[style*="323104036066951168"] + .usernameFont-aFalyR::afte {
   content: " ";
   background: url(https://i.imgur.com/DclUwaS_d.png) center/90% no-repeat;
}

/* wholesome kris.#4149 */
[src*="https://cdn.discordapp.com/avatars/330544247042473984"] + .header-23xsNx > .headerText-3Uvj1Y > .username-1A8OIy::after,
.avatar-3EQepX[data-user-id="330544247042473984"] + .headerInfo-30uryT > .nameTag-2IFDfL > .username-2b1r56::after,
[style*="330544247042473984"] + .usernameFont-aFalyR::after {
   content: " ";
   background: url(https://i.imgur.com/0bHr7MP.png) center/90% no-repeat;
}
