/*                                user_by_bdfdb is from DevilBro's (garbage) library that adds extra elements.                                                */
/*                                If you're using BDCompat and have a DB plguin, you most likely have these elements.                                         */
/*                                I in no way endorse the usage of this with powercord, it is entirely optional.                                              */
/*                                This is to add badges in extra areas that normal elements can't reach (for those that DO have these elements.               */

/* soon:tm: cause copy pasting code goes brrrr */
